# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Virtual env
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# System
.DS_Store
Thumbs.db

# Logs
*.log
